body { width: 100%; margin:0px; padding: 0px; font-family: sans-serif; }

.logo-bar { margin: 20px; }

.content, .logo-bar, .license { width: 80%; margin-left: 10%; }

.top-menu, hr { background-image: url(/static/img/red.jpg); background-size: 100%; background-position: bottom; }

.top-menu { font-weight: bold; margin: 0px; padding: 15px 10%; background-color: #CC0606; }
.top-menu li { list-style-type: none; display: inline-block; margin-right: 10px; }
.top-menu a { color: #FFF; }
.top-menu a:hover { color: #999; }

.content img { margin: auto; display: block; }
.content code { background-color: #EEE; padding: 1px 3px; }

.post-nav { font-weight: bold; color: #CC0606; }
.post-nav a { margin-bottom: 10px; color: #CC0606; }
.post-nav a:hover { color: #999; }
.next-post { float: right; }
.prev-post { float: left; }

.tags-list li { list-style-type: none; display: inline-block; font-weight: bold; margin-right: 5px; }

hr { border-color: #CC0606; background-color: #CC0606; display: block; clear: both; }
h1 { color: #CC0606; }

.tags { font-weight: bold; }