body { width: 80%; margin-left: 10%; font-family: sans-serif; }

.logo-bar img { width: 100%; margin-top: 15px; }

.top-menu { font-weight: bold; }
.top-menu ul { margin: 0; padding: 0; }
.top-menu ul li { list-style-type: none; display: inline-block; margin-right: 10px; }
.top-menu a { color: #CC0606; }
.top-menu a:hover { color: #999; }

.post-nav { font-weight: bold; color: #CC0606; }
.post-nav a { margin-bottom: 20px; color: #CC0606; }
.post-nav a:hover { color: #999; }
.next-post { float: right; margin-bottom: 20px; }
.prev-post { float: left; margin-bottom: 20px; }

hr { border-color: #CC0606; background-color: #CC0606; }
h1 { color: #CC0606; }

.tags { font-weight: bold; }