body { width: 100%; margin:0px; padding: 0px; font-family: sans-serif; overflow-x: hidden; }

.logo-bar { padding: 10px; }

.content, .logo-bar, .license, .top-menu { width: 80%; max-width: 640px; margin: auto; display: block; }

.top-menu-container, hr { background-image: url(/static/img/red.jpg); background-size: 100%; background-position: bottom; background-color: #CC0606; }

.top-menu { font-weight: bold; padding: 15px; }
.top-menu li { list-style-type: none; display: inline-block; margin-right: 10px; }
.top-menu a { color: #FFF; }
.top-menu a:hover { color: #999; }

h1, h1 a { color: #CC0606; margin-bottom: 0px; text-decoration: none; }
.posted { font-style: oblique; color: #AAA; display: block; font-size: small; text-align: right; margin-bottom: 10px;}
h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; color: black; }
h1 a:hover { color: #AA0606; }
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #666; }

.content img { margin: auto; margin-bottom: 10px; padding: 10px; display: block; max-width: 80%; border: 1px solid #CC0606; }
.content p code, .content li code { background-color: #EEE; padding: 1px 3px; }
code, pre, pre code { font-family: monospace; }
.content blockquote { font-style: oblique; font-family: serif; background-color: #EEE; padding: 10px; border-left: 20px solid #CCC; }

.post-nav { font-weight: bold; color: #CC0606; }
.post-nav a { margin-bottom: 10px; color: #CC0606; }
.post-nav a:hover { color: #999; }
.next-post { float: right; }
.prev-post { float: left; }

.tags-list li { list-style-type: none; display: inline-block; font-weight: bold; margin-right: 5px; }

hr { border-color: #CC0606; background-color: #CC0606; display: block; clear: both; }

.tags { font-weight: bold; }

.figure .caption { display: none; }

/* Rotation  */

.top-menu-container, hr { width: 110%; margin-left: -5%; }
.top-menu-container, .logo-bar, .post-nav, hr, .note { transform: rotate(-2deg); }

/* cl-notebook-specific classes */

blockquote pre.standard-output { font-style: normal; }
blockquote pre.return-value { border: 1px solid #CCC; background-color: #fff; font-style: normal; }
blockquote pre.return-value code { background: none; }

/* other */
pre.diff { white-space: pre-wrap; }

.note { padding: 5px; border: 1px solid #CCC; background-color: #efefef; }
.note h2 { margin: 0px; padding: 0px; }
.note p, .note h3, .note h4, .note pre, .note ul { display: none; }
.note:hover p, .note:hover h3, .note:hover h4, .note:hover pre, .note:hover ul { display: block; }